{% extends 'security/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body_id 'login' %}

{% block main %}
<form action="{{ path('login') }}"  method="POST" novalidate {{ stimulus_controller('login') }}>
    <div class="card card-md" id="email-form" {{ stimulus_target('login', 'emailField') }}>
        <div class="card-body"  >
            <h2 class="h2 text-center mb-4">Login to your account</h2>
            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus placeholder="name@example.com">
            </div>

            <div class="form-footer">
                <div {{ stimulus_action('login', 'nextStep', 'click') }} name="next" class="btn btn-primary w-100">Continue with Email</div>
            </div>
        </div>

        <div class="hr-text">or</div>

        <div class="card-body">
            <div class="row">
                <div class="col">
                    <a href="{{ oauthUrl(enum('App\\Module\\Auth\\Domain\\Enum\\SocialNetwork').GOOGLE) }}" class="btn btn-4 w-100">
                        <twig:ux:icon name="tabler:brand-google" class="icon text-google icon-2" />
                        Login with Google
                    </a>
                </div>
                <div class="col">
                    <a href="{{ oauthUrl(enum('App\\Module\\Auth\\Domain\\Enum\\SocialNetwork').GITHUB) }}" class="btn btn-4 w-100">
                        <twig:ux:icon name="tabler:brand-github" class="icon text-github icon-2" />
                        Login with Github
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-md" id="password-form" {{ stimulus_target('login', 'passwordField') }} hidden>
        <div class="card-body" >
            <h2 class="h2 text-center mb-4">Welcome !</h2>
            <div class="text-center text-secondary mt-3">
                <p class="fs-h3" {{ stimulus_target('login', 'emailDisplay') }}></p>
                <a href="#" {{ stimulus_action('login', 'previousStep', 'click') }}>Change Email address</a>
            </div>

            <div class="form-footer">
                <button formaction="{{ path('login_link') }}" type="submit" class="btn btn-primary w-100">Sign in with Magic Link</button>
            </div>
        </div>

        <div class="hr-text">or sign in with password</div>

        <div class="card-body" >
            <div class="mb-3">
                <label class="form-label">
                    Password
                    {# <span class="form-label-description">
                        <a href="{{ path('forgot-password')}}">I forgot password</a>
                    </span> #}
                </label>
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required placeholder="*******">
            </div>

            <div class="mb-2">
                <label class="form-check">
                    <input class="form-check-input" type="checkbox" name="_remember_me" id="_remember_me">
                    <span class="form-check-label" for="_remember_me">Remember me on this device</span>
                </label>
            </div>

            <div class="form-footer">
                <button type="submit" class="btn btn-primary w-100">Sign in</button>
            </div>
        </div>
    </div>
</form>

<div class="text-center text-secondary mt-3">
    Don't have account yet? <a href="{{ path('register') }}" tabindex="-1">Sign up</a>
</div>
{% endblock %}
