{% extends '@Tabler/layout.html.twig' %}

{% set costItem = costItem is defined ? costItem : null %}
{% set isTemplate = costItem.status == 'template' ? true : false %}

{% block title %}
    Détails : {{ costItem ? costItem.name : 'Poste de coût' }}
{% endblock %}

{% block page_pretitle %}Poste de Coût{% endblock %}
{% block page_title %}{{ costItem ? costItem.name : 'Détails' }}{% endblock %}

{% block page_title_actions %}
    <a href="{{ path('cost_item_index') }}" class="btn btn-outline-secondary">
        <twig:ux:icon name="tabler:list"  />
        Retour à la liste
    </a>
    {% if not isTemplate %}
        {% if costItem.status == 'archived' %}
            <form class="form-block" action="{{ path('cost_item_reactivate', {id: costItem.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir archiver cet élément ?');" class="d-inline">
                <input type="hidden" name="_token" value="{{ csrf_token('reactivate_' ~ costItem.id) }}">
                <button type="submit" class="btn btn-outline-success w-100">
                    <twig:ux:icon name="tabler:archive-off"  /> Réactiver
                </button>
            </form>
        {% else %}
            <form class="form-block" action="{{ path('cost_item_archive', {id: costItem.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir archiver cet élément ?');" class="d-inline">
                <input type="hidden" name="_token" value="{{ csrf_token('archive_' ~ costItem.id) }}">
                <button type="submit" class="btn btn-warning w-100">
                    <twig:ux:icon name="tabler:archive"  /> Archiver
                </button>
            </form>
        {% endif %}
        <a href="{{ path('recurring_cost_new', {from_item: costItem.id}) }}" class="btn btn-outline-secondary">
            <twig:ux:icon name="tabler:copy"  />
            Utiliser comme modèle
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if isTemplate %}
        <div class="alert alert-info" role="alert">
            <div class="d-flex">
                <div>
                    <twig:ux:icon name="tabler:info-circle" class="icon me-2 alert-icon" />
                </div>
                <div>
                    <h4 class="alert-title">Ceci est un Modèle</h4>
                    <div class="text-muted">
                        Ce poste de coût sert de configuration pour les coûts récurrents.
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if costItem %}
        <div class="row row-deck row-cards">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Informations Financières</h3>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-5">Montant Cible :</dt>
                            <dd class="col-7"><strong>{{ costItem.targetAmount|format_currency(costItem.currency) }}</strong></dd>
                            {% if not isTemplate %}
                                <dt class="col-5">Montant Actuellement Couvert :</dt>
                                <dd class="col-7">{{ costItem.currentAmount|format_currency(costItem.currency) }}</dd>

                                <dt class="col-5">Montant Restant à Couvrir :</dt>
                                <dd class="col-7 text-red">{{ (costItem.targetAmount - costItem.currentAmount)|format_currency(costItem.currency) }}</dd>

                                <dt class="col-5">Progression :</dt>
                                <dd class="col-7">
                                    <div class="progress mb-2">
                                        <div class="progress-bar {% if costItem.isCovered %}bg-success{% endif %}" style="width: {{ costItem.progressPercentage }}%" role="progressbar" aria-valuenow="{{ costItem.progressPercentage }}" aria-valuemin="0" aria-valuemax="100" aria-label="{{ costItem.progressPercentage|round(2) }}% Complete">
                                            <span class="visually-hidden">{{ costItem.progressPercentage|round(2) }}% Complete</span>
                                        </div>
                                    </div>
                                </dd>
                            {% endif %}
                        </dl>
                    </div>
                </div>
            </div>
            {% if not isTemplate %}
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Informations Temporelle</h3>
                        </div>
                        <div class="card-body">
                            <label class="form-label">Période de couverture</label>
                            <p>
                                <span class="text-secondary me-1">
                                    <twig:ux:icon name="tabler:calendar"/>
                                </span>
                                    Du {{ costItem.startDate|date('d F Y') }} au {{ costItem.endDate|date('d F Y') }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Contributions</h3>
                        </div>
                        <div class="card-body">
                            {{ component('CostContributionManager', {costItemId: costItem.id}) }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            Le poste de coût demandé n'a pas été trouvé.
        </div>
    {% endif %}
{% endblock %}
