{% extends '@Tabler/layout.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block content %}
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Liste des commandes
                    </h2>
                </div>
                <div class="col-auto ms-auto d-print-none">
                    <div class="btn-list">
                        <a href="{{ path('sales_order_new') }}" class="btn btn-primary d-none d-sm-inline-block">
                            <twig:ux:icon name="tabler:plus"/>
                            Créer une commande
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-vcenter card-table">
                        <thead>
                            <tr>
                                <th>ID Commande</th>
                                <th>Client ID</th>
                                <th>Status</th>
                                <th>Total</th>
                                <th>Date</th>
                                <th class="w-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for order in orderItems %}
                            <tr>
                                <td>{{ order.id }}</td>
                                <td class="text-secondary">{{ order.userId }}</td>
                                <td><span class="badge bg-secondary">{{ order.status }}</span></td>
                                <td class="text-secondary">{{ order.totalAmount / 100 }} {{ order.currency }}</td>
                                <td class="text-secondary">{{ order.createdAt|date('d/m/Y H:i') }}</td>
                                <td>
                                    <a href="#">Détails</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6" class="text-center text-secondary">Aucune commande trouvée.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
