{% extends 'layout.html.twig' %}

{% block title %}User index{% endblock %}

{% block body_id 'user_index' %}

{% block main %}
    <twig:Semantic:Title title="{{ 'user.index'|trans }}" >
        <div class="col-auto ms-auto d-print-none">
            <twig:Button:CreateNew routeName="user_new" withIcon="tabler:plus" />
        </div>
    </twig:Semantic:Title>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="card">
                        {% if users.paginator().haveToPaginate() %}
                            <twig:Paginator:ItemsPerPageForm />
                        {% endif %}
                        <div class="table-responsive">
                            <table class="table table-vcenter card-table table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Email</th>
                                    </tr>
                                    <tbody>
                                        {% for user in users %}
                                            <tr id="user_{{ user.userId }}">
                                                {{ include('@UserManagement/user/_item.html.twig', {user: user}) }}
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="5">{{ 'default.no_record_found'|trans }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </thead>
                            </table>
                        </div>
                        {% if users.paginator().haveToPaginate() %}
                            {% set paginator = users.paginator() %}
                            {% set start = (paginator.getCurrentPage - 1) * paginator.getItemsPerPage + 1 %}
                            {% set end = (paginator.currentPage * paginator.getItemsPerPage) > paginator.getTotalItems ? paginator.getTotalItems : (paginator.currentPage * paginator.getItemsPerPage) %}

                            <div class="card-footer">
                                <div class="row g-2 justify-content-center justify-content-sm-between">
                                    <div class="col-auto d-flex align-items-center">
                                        <p class="m-0 text-secondary">Showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong> of <strong>{{ paginator.getTotalItems }} entries</strong></p>
                                    </div>
                                    <div class="col-auto">
                                        {{ pagerfanta(paginator.getPagerFanta(), 'twig', {
                                            routeName: app.request.attributes.get('_route'),
                                            routeParams: app.request.query.all|merge({page: paginator.getPagerFanta().getCurrentPage()}),
                                        }) }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
