{% extends 'layout.html.twig' %}

{% block title %}User{% endblock %}

{% block body_id 'user_show' %}

{% block main %}
    <twig:Semantic:Title title="{{ 'user.show'|trans }}" />

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    {% for role in user.getEnumRoles() %}
                        <twig:Role type="{{ role|trans }}" color="{{ role.getColors }}" />
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ user.isVerified ? ux_icon('tabler:check-circle') : ux_icon('tabler:check-cancel') }}</td>
            </tr>
        </tbody>
    </table>

    <twig:Button:ActionItem
        withDelete="user_delete"
        withEdit="user_edit"
        withBackToList="user_index"
        :item="user"
    />
{% endblock %}
