<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <!-- BEGIN NAVBAR TOGGLER -->
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#sidebar-menu"
            aria-controls="sidebar-menu"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- END NAVBAR TOGGLER -->
        <!-- BEGIN NAVBAR LOGO -->
        <div class="navbar-brand navbar-brand-autodark">
            <a href="." aria-label="Puddle">
                <img src="{{ asset('static/logo.png') }}" alt="Puddle" class="navbar-brand-image">
            </a>
        </div>
        <!-- END NAVBAR LOGO -->

        <div class="navbar-collapse collapse" id="sidebar-menu">
            <!-- BEGIN NAVBAR MENU -->
            <ul class="navbar-nav pt-lg-3">
                <li class="nav-item {% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('homepage') }}">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <twig:ux:icon name="tabler:home" class="icon icon-1" />
                        </span>
                        <span class="nav-link-title"> Home </span>
                    </a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') starts with 'cost_item_' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('cost_item_index') }}">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <twig:ux:icon name="tabler:coins" class="icon icon-1" />
                        </span>
                        <span class="nav-link-title"> Postes de Coûts </span>
                    </a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') starts with 'product_' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('admin_product_index') }}">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <twig:ux:icon name="tabler:coffee" class="icon icon-1" />
                        </span>
                        <span class="nav-link-title"> Catalogue Produits </span>
                    </a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'user_index' %}active{% endif %}">
                     <a class="nav-link" href="{{ path('user_index') }}">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <twig:ux:icon name="tabler:users" class="icon icon-1" />
                        </span>
                        <span class="nav-link-title"> Utilisateurs </span>
                    </a>
                </li>
            </ul>
            <!-- END NAVBAR MENU -->
        </div>
    </div>
</aside>
