<div {{ attributes }}>
    {% if errorMessage %}
        <twig:Alert type="warning" :message="errorMessage" format="important" />
    {% endif %}

    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save',
            novalidate: true,
        },
    }) }}
        {{ form_errors(form) }}
        <h2 class="card-title text-center mb-4">
            Accédez à votre espace<br>
            <small class="card-subtitle text-muted">Nouveau ou déjà membre ? Même processus simple.</small>
        </h2>

        <div class="mb-3">
            {{ form_label(form.identifier, 'Email or Phone Number') }}
             {{ form_widget(form.identifier, {
                attr: {
                    placeholder: 'name@example.com or +33612345678',
                    'data-action': 'input->live#action',
                    autocomplete: 'username'
                }
            }) }}
            {{ form_errors(form.identifier) }}
        </div>

        <div class="form-footer">
            <button
                type="submit"
                class="btn btn-primary w-100 {{ this.hasValidationErrors ? 'disabled' : '' }}">
                Continuer
            </button>
        </div>

        {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
