<div {{ attributes }}>
    {% if errorMessage %}
        <twig:Alert type="warning" :message="errorMessage" format="important" />
    {% endif %}

    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save',
            novalidate: true,
        },
    }) }}
        {{ form_errors(form) }}
        <h2 class="card-title text-center mb-4">
            Accédez à votre espace<br>
            <small class="card-subtitle text-muted">Nouveau ou déjà membre ? Même processus simple.</small>
        </h2>
        {{ form_row(form.identifier, {
            'label': 'Email address or Phone number',
            'attr': {'placeholder': 'example@email.com ou +33612345678'
        }}) }}

        <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100 {{ this.hasValidationErrors ? 'disabled' : '' }}">C'est parti !</button>
        </div>
        {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
