{% extends '@Tabler/layout.html.twig' %}

{% block title %}{{ page_title|default('Détails du Produit') }}{% endblock %}

{% block body_id 'product_show' %}

{% block main %}
    <twig:Semantic:Title title="{{ 'product.show' | trans }}">
        <!-- Page title actions -->
        <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">
                <twig:Button:BackToList routeName="admin_product_index" />
                <a href="{{ path('admin_product_edit', {id: product.identifier.value}) }}" class="btn btn-primary btn-5 d-none d-sm-inline-block">
                    <twig:ux:icon name="tabler:edit" class="icon icon-2" />
                    Modifier
                </a>
            </div>
        </div>
    </twig:Semantic:Title>


    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Informations Générales</h3>
                        </div>
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-sm-3">ID :</dt>
                                <dd class="col-sm-9">{{ product.identifier }}</dd>

                                <dt class="col-sm-3">Nom :</dt>
                                <dd class="col-sm-9">{{ product.name }}</dd>

                                <dt class="col-sm-3">Statut :</dt>
                                <dd class="col-sm-9">
                                    {% if product.isActive %}
                                        <span class="badge bg-success-lt">Active</span>
                                    {% else %}
                                        <span class="badge bg-danger-lt">Inactive</span>
                                    {% endif %}
                                </dd>

                                <dt class="col-sm-3">Coût de Base Total :</dt>
                                <dd class="col-sm-9">{{ product.baseCostStructure.totalBaseCost.amount / 100 }} {{ product.baseCostStructure.totalBaseCost.currency }}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Décomposition du Coût de Base</h3>
                        </div>
                        <div class="card-table table-responsive">
                            <table class="table table-vcenter">
                                <thead>
                                    <tr>
                                        <th>Nom du Composant</th>
                                        <th>Type</th>
                                        <th class="text-end">Coût Unitaire</th>
                                        <th class="text-end">Quantité Utilisée</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for component in product.baseCostStructure.costComponentLines %}
                                        <tr>
                                            <td>{{ component.name }}</td>
                                            <td>{{ component.type }}</td>
                                            <td class="text-end">{{ (component.cost.amount / 100) | format_currency(component.cost.currency) }}</td>
                                            <td class="text-end">
                                                {% if component.quantity is not null %}
                                                    {{ component.quantity.value }} {{ component.quantity.unit }}
                                                {% else %}
                                                    N/A
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="5" class="text-center text-muted">Aucun composant de coût défini.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
