<td>{{ product.id }}</td>
<td>{{ product.name }}</td>
<td>{{ product.category }}</td>
<td>{{ product.price }}</td>
<td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
<td class="text-end">
    <twig:Button:ActionItem
        withShow="app_product_show"
        withEdit="app_product_edit"
        withDelete="app_product_delete"
        withDuplicate="app_product_duplicate"
        :itemId="product.id"
    />
</td>
