<div {{ attributes }}>
    {% if errorMessage %}
        <twig:Alert type="warning" :message="errorMessage" format="important" />
    {% endif %}

    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save',
            novalidate: true,
            class: 'card card-md',
        },
    }) }}
        {{ form_errors(form) }}
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Create new account</h2>
            {{ form_row(form.email) }}

            <twig:Alert type="notice" format="important" >
                Après votre inscription, un e-mail vous sera envoyé. Il contiendra un lien sécurisé pour effectuer votre première connexion.
            </twig:Alert>

            {{ form_widget(form.agreeTerms, {
                label: 'Agree the <a href="" tabindex="-1">terms and policy</a>.',
                label_html: true,
                })
            }}
            <div class="form-footer">
                <button type="submit" class="btn btn-primary w-100 {{ this.hasValidationErrors ? 'disabled' : '' }}">Create new account</button>
            </div>
        </div>
        {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
