<div {{ attributes }}>
    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save',
            novalidate: true,
        },
    }) }}

    {% if throttleMessage %}
        <twig:Alert type="warning" :message="throttleMessage" />
    {% endif %}

    {{ form_start(form) }}
        <div class="mb-3">
            <label for="{{ form.email.vars.id }}"
                class="form-label {{ form.email.vars.required ? 'required' }}">{{ form.email.vars.label }}</label>
            <div class="input-group">
                <span class="input-group-text">
                    <twig:ux:icon name="tabler:mail" />
                </span>
                {{ form_widget(form.email) }}
            </div>
        </div>

        <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100">
                <twig:ux:icon name="tabler:send" />
                Envoyer le lien de réinitialisation
            </button>
        </div>
        {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
