<div {{ attributes }}>
    {% if domainError %}
        <twig:Alert type="error" format="important" :message="domainError" />
    {% endif %}

    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save',
            novalidate: true,
        },
    }) }}

    {{ form_start(form) }}

        {% set confirmation_attrs = form.confirmPassword.vars.attr|merge({
                'class': (form.confirmPassword.vars.attr.class|default('') ~ (passwordMismatchError ? ' is-invalid' : ''))|trim
        }) %}

        {{ form_row(form.plainPassword) }}

        <div class="mb-3">
            {{ form_label(form.confirmPassword) }}

            {# On ajoute la classe 'is-invalid' à notre champ si l'erreur existe #}
            {% set confirmation_attrs = form.confirmPassword.vars.attr|merge({
                'class': (form.confirmPassword.vars.attr.class|default('') ~ (passwordMismatchError ? ' is-invalid' : ''))|trim
            }) %}

            {{ form_widget(form.confirmPassword, {'attr': confirmation_attrs}) }}

            {# On affiche notre message d'erreur personnalisé s'il est défini #}
            {% if passwordMismatchError %}
                <div class="invalid-feedback d-block">
                    {{ passwordMismatchError }}
                </div>
            {% endif %}

            {# On affiche aussi les autres erreurs de validation standards (ex: champ vide) #}
            {{ form_errors(form.confirmPassword) }}
        </div>

        <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100">
                <twig:ux:icon name="tabler:lock-check"  />
                Réinitialiser le mot de passe
            </button>
        </div>
        {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
