{% extends '@Auth/base.html.twig' %}

{% block title %}Bonjour !{% endblock %}

{% block body_id 'login_link_check' %}

{% block content %}
    <form class="card card-md" action="{{ path('login_check') }}" method="POST">
        <div class="card-body text-center">
            <div class="mb-4">
              <h2 class="card-title">Bonjour !</h2>
            </div>
            <div class="mb-4">
              <span class="avatar avatar-xl mb-3" style="background-image: url(./static/avatars/000m.jpg)"> </span>
              <h3>{{ email }}</h3>
            </div>
            <div class="mb-4">
              Vous êtes sur le point de vous connecter à Puddle
              <input type="hidden" name="expires" value="{{ expires }}">
              <input type="hidden" name="user" value="{{ identifier }}">
              <input type="hidden" name="hash" value="{{ hash }}">
            </div>
            <div>
              <button type="submit" class="btn btn-primary btn-4 w-100">Continuer</button>
            </div>
          </div>
    </form>
{% endblock %}
