{% extends '@Tabler/layout.html.twig' %}

{% block body_id 'product_index' %}

{% block title %}Gestion des produits{% endblock %}

{% block page_title %}Gérer l'inventaire des produits{% endblock %}
{% block page_pretitle %}Catalogue produits{% endblock %}

{% block page_title_actions %}
    {% if products is not empty %}
        <twig:Button:CreateNew routeName="product_new" withIcon="tabler:plus" label="Crée un nouveau produit" />
    {% endif %}
{% endblock %}

{% block content %}
    {% if products is empty %}
        {% embed '@Tabler/partials/_blank.html.twig' %}
            {% block empty_title %}
                Vous n'avez aucun produit
            {% endblock %}
            {% block empty_action %}
                <a href="{{ path('product_new') }}" class="btn btn-primary btn-4">
                    <twig:ux:icon name="tabler:plus"  />
                    Ajouter votre premier produit
                </a>
            {% endblock %}
        {% endembed %}
    {% else %}
        <div class="row row-cards">
            <div class="col-12">
                {% if products.paginator().haveToPaginate() %}
                    <twig:Paginator:ItemsPerPageForm />
                {% endif %}
                    {{ component('Table', {
                        title: 'Liste des Produits',
                        items: products,
                        columns: [
                            {label: 'Status', path: 'isActive', format:'badge'},
                            {label: 'Nom du produit', path: 'name'},
                            {label: 'Coût', path: 'totalBaseCost'},

                        ],
                        actions: [
                            {route: 'product_show', icon: 'tabler:eye', title: 'Voir'},
                        ],
                    }) }}
                {# Pagination #}
                {% if products.paginator().haveToPaginate() %}
                    {% set paginator = products.paginator() %}
                    {% set start = (paginator.getCurrentPage - 1) * paginator.getItemsPerPage + 1 %}
                    {% set end = (paginator.currentPage * paginator.getItemsPerPage) > paginator.getTotalItems ? paginator.getTotalItems : (paginator.currentPage * paginator.getItemsPerPage) %}

                    <div class="card-footer">
                        <div class="row g-2 justify-content-center justify-content-sm-between">
                            <div class="col-auto d-flex align-items-center">
                                <p class="m-0 text-secondary">Showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong> of <strong>{{ paginator.getTotalItems }} entries</strong></p>
                            </div>
                            <div class="col-auto">
                                {{ pagerfanta(paginator.getPagerFanta(), 'twig', {
                                    routeName: app.request.attributes.get('_route'),
                                    routeParams: app.request.query.all|merge({page: paginator.getPagerFanta().getCurrentPage()}),
                                }) }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
