{% extends '@Tabler/layout.html.twig' %}

{% block title %}Détails du produit #{{ product.id|slice(0, 8) }}{% endblock %}

{% block body_id 'product_show' %}

{% block page_pretitle %}Détail du produit{% endblock %}
{% block page_title %}ID: {{ product.id }}{% endblock %}

{% block page_title_actions %}
    <twig:Button:BackToList routeName="product_index" />
    <twig:Button:Update routeName="product_edit" id="{{ product.id.value }}" label="Modifier le produit"/>
{% endblock %}

{% block content %}
    <div class="row row-deck row-cards">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Informations Générales</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">ID :</dt>
                        <dd class="col-sm-9">{{ product.id }}</dd>

                        <dt class="col-sm-3">Nom :</dt>
                        <dd class="col-sm-9">{{ product.name }}</dd>

                        <dt class="col-sm-3">Statut :</dt>
                        <dd class="col-sm-9">
                            {% if product.isActive %}
                                <span class="badge bg-success-lt">Active</span>
                            {% else %}
                                <span class="badge bg-danger-lt">Inactive</span>
                            {% endif %}
                        </dd>

                        <dt class="col-sm-3">Coût de Base Total :</dt>
                        <dd class="col-sm-9">{{ (product.totalBaseCost.amount / 100)|format_currency(product.totalBaseCost.currency) }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                {{ component('Table', {
                    title: 'Décomposition du Coût de Base',
                    items: product.baseCostStructure.costComponentLines,
                    columns: [
                        {label: 'Nom du Composant', path: 'name'},
                        {
                            label: 'Type',
                            path: 'type',
                            format: 'badge',
                            enum_class: 'App\\Module\\ProductCatalog\\Domain\\Enum\\CostComponentType',
                        },
                    ],
                }) }}
            </div>
        </div>
    </div>
{% endblock %}
