{% extends '@Tabler/layout.html.twig' %}

{% set recurringCost = recurringCost is defined ? recurringCost : null %}

{% block title %}
    Détails
{% endblock %}

{% block page_pretitle %}Planifications des Coûts Récurrents{% endblock %}
{% block page_title %}{{ 'Détails' }}{% endblock %}

{% block content %}
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Détail de la planification
                    </h2>
                </div>
                <div class="col-auto ms-auto d-print-none">
                    {# Futurs boutons d'action #}
                    <a href="{{ path('recurring_cost_index') }}" class="btn">
                        <twig:ux:icon name="tabler:arrow-left" />
                        Retour à la liste
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="card card-lg">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <p class="h3">Modèle utilisé</p>
                            <address>
                                <a href="{{ path('cost_item_show', {id: recurringCost.templateCostItemId}) }}">
                                    {{ recurringCost.templateName }}
                                </a>
                            </address>
                        </div>
                        <div class="col-6 text-end">
                            <p class="h3">Statut</p>
                            <twig:Badge
                                variant="solid"
                                value="recurringCost.status.value"
                            />
                        </div>
                        <div class="col-12 my-3">
                            <p class="h3">Règle de planification</p>
                            <p>{{ recurringCost.recurrenceRule }}</p>
                        </div>
                    </div>

                    <hr>

                    <h4 class="mt-4">Instances générées par cette planification</h4>
                    {# Le tableau pour la partie 2 viendra ici #}
                    <p class="text-muted">La liste des postes de coûts générés apparaîtra ici.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
