<div {{ attributes }}>
    {{ form_start(form, {
        attr: {
            novalidate: true,
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'saveRawMaterial',
        }
    }) }}
        <div class="row align-items-center mt-3">
            <div class="col-2">
                {{ form_label(form.name) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.name) }}
            </div>
        </div>
        <div class="row align-items-center mt-3">
            <div class="col-2">
                {{ form_label(form.unitPrice) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.unitPrice) }}
            </div>
        </div>
        <div class="row align-items-center mt-3">
            <div class="col-2">
                {{ form_label(form.category) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.category) }}
            </div>
            <div class="col-auto">
                <div class="form-text">
                    <a
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#new-category-modal"
                    >+ Add Category
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center mt-3">
            <div class="col-2">
                {{ form_label(form.priceVariability) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.priceVariability) }}
            </div>
        </div>
        <div class="row align-items-center mt-3">
            <div class="col-2">
                {{ form_label(form.unit) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.unit) }}
            </div>
        </div>
        <div class="row align-items-center mt-3">
            <div class="col-2">
                {{ form_label(form.totalCost) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.totalCost) }}
            </div>
        </div>
        <div class="row align-items-center mt-3">
            <div class="col-2">
                {{ form_label(form.notes) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.notes) }}
            </div>
        </div>
        <div class="row align-items-center mt-3">
            <div class="col-2">
                {{ form_label(form.link) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.link) }}
            </div>
        </div>
        <div class="row align-items-center mt-3">
            <div class="col-2">
                {{ form_label(form.supplier) }}
            </div>
            <div class="col-3">
                {{ form_widget(form.supplier) }}
            </div>
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Save Raw material</button>

            <a href="{{ path('app_raw_material_index') }}" class="btn btn-light">
                <twig:ux:icon name="tabler:list"/> {{ 'action.back_to_list'|trans }}
            </a>
        </div>
        {{ form_rest(form) }}
    {{ form_end(form) }}

    {% component BootstrapModal with {id: 'new-category-modal'} %}
        {% block modal_header %}
            <h5>Add a Category</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        {% endblock %}
        {% block modal_body %}
            <twig:NewCategoryForm />
        {% endblock %}
    {% endcomponent %}
</div>
