<td>{{ user.identifier }}</td>
<td>{{ user.email }}</td>
<td>
    {% for role in user.getEnumRoles() %}
        <twig:Role type="{{ role | trans }}" color="{{ role.getColors }}" />
    {% endfor %}
<td>{{ user.isVerified ? ux_icon('material-symbols:check-circle') : ux_icon('material-symbols:check-cancel') }}</td>
<td class="text-end">
    <twig:Button:ActionItem
        withShow="user_show"
        withEdit="user_edit"
        withDelete="user_delete"
        :item="user"
    />
</td>
