<td>{{ user.id }}</td>
<td>{{ user.email }}</td>
<td>
    {% for role in user.getEnumRoles() %}
        <twig:Role type="{{ role | trans }}" color="{{ role.getColors }}" />
    {% endfor %}
<td>{{ user.isVerified ? ux_icon('material-symbols:check-circle') : ux_icon('material-symbols:check-cancel') }}</td>
<td class="text-center">
    <div class="btn-group gap-2">
        <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-sm btn-secondary">
            <twig:ux:icon name="eye"/> {{ 'action.show'|trans }}
        </a>

        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-sm btn-primary">
            <twig:ux:icon name="pencil"/> {{ 'action.edit'|trans }}
        </a>
        {{ include('user/_delete_form.html.twig') }}
    </div>
</td>
