<td>{{ user.id }}</td>
<td>{{ user.email }}</td>
<td>
    {% for role in user.getEnumRoles() %}
        <twig:Role type="{{ role | trans }}" color="{{ role.getColors }}" />
    {% endfor %}
<td>{{ user.isVerified ? ux_icon('material-symbols:check-circle') : ux_icon('material-symbols:check-cancel') }}</td>
<td class="text-end">
    <twig:Button:ActionItem
        withShow="app_user_show"
        withEdit="app_user_edit"
        withDelete="app_user_delete"
        :itemId="user.id"
    />
</td>
