{% extends 'layout.html.twig' %}

{% block title %}User index{% endblock %}

{% block body_id 'user_index' %}

{% block main %}
    <twig:Semantic:Title content="{{ 'user.index' | trans }}" />

    <table class="table table-striped table-middle-aligned table-borderless table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Email</th>
                <th scope="col">Roles</th>
                <th scope="col">IsVerified</th>
                <th scope="col" class="text-end"><twig:ux:icon name="settings" /> {{ 'label.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr id="user_{{ user.id }}">
                {{ include('user/_item.html.twig', { user: user}) }}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'default.no_record_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <twig:Button:CreateNew routeName="app_user_new" />
{% endblock %}
